body {
    font-family: 'Montserrat';
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
}

ul li {
    /* list-style: none;    */
    /* text-decoration: none; */
}

.custom-list>ul>li::before {
    content: '\2022';
    /* Unicode character for a bullet */
    color: black;
    /* Customize bullet color if needed */
    /* display: inline-block; */
    font-size: 55px;

    line-height: 1;
    /* Adjust the width as needed for spacing */
    /* margin-left: -1em; */
    /* Negative margin to overlap with the text */
}

.navbar-brand {
    font-size: 12px !important;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    /* Adjust the padding as needed */
    text-align: center;
}

.section-container {
    background-color: #C5E0E0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;

    /* background- */
}

.section-content {
    /* width: 49%; */
    margin: auto;
}

.section-hero {
    height: 442px;
    background: url('./assets/section-hero.png');
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.how-it-works {
    background-image: url('./assets/wave.svg');
}

.btn-primary {
    border-color: #84A5D7 !important;
    background-color: #84A5D7 !important;
    color: "white" !important;
    width: 100%
}

.btn-secondary {
    border: none;
    border-color: none;
    background-color: #40A8A8 !important;
    color: "white" !important;
    padding: 5px;
    border-radius: 5px;
}

.gradient-text {
    background-image: linear-gradient(to right, #194242 40%, #509191);
    color: transparent;
    -webkit-background-clip: text;
    /* For Safari/Chrome */
    background-clip: text;

}

/* For screens larger than 992px (lg screens) */
@media (min-width: 992px) {
    .dpc-text {
        margin: 0 auto;
    }
}

/* For screens smaller than 992px */
@media (max-width: 991px) {
    .dpc-text {
        width: auto;
        /* Removing width for smaller screens */
        margin: 0;
        /* Resetting margin */
    }
}